@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:500&display=swap");

:root {
  --primary-width: 80%;
  --secondary-width: 75%;
}

html {
  font-size: 62.75%;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.2%;
}
.no-display {
  display: none;
}
ul {
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 3rem;
}
h1 {
  font-weight: 600;
  font-size: 40px;
  color: #084482;
  margin-bottom: 50px;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #084482;
  margin-right: auto;

  margin-bottom: 50px;
}
h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #084482;

  margin-bottom: 50px;
}
h4 {
  font-weight: 700;
}
h5 {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
}
button {
  background-color: #00aeff;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
section {
  margin-top: 12rem;
}
.show-more-trigger {
  margin-top: -3rem;
  transition: all 500ms ease-in-out;
}
.nav-item {
  display: flex;
  justify-content: center;
}

.join-us {
  background-color: #00aeff;
  padding: 5px 15px;
  border-radius: 4px;
}
.join-us a {
  font-weight: 700;
  color: white;
}
.content {
  width: var(--primary-width);
  display: flex;
  justify-content: space-between;
}
#navbar {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.logo {
  height: 50px;
  overflow: hidden;
}
.logo img {
  height: 100%;
}
header {
  margin-top: 3rem;
  transition: margin 0.3s ease-in-out;
}
header a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #474747;
}

.no-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.no-container-text {
  margin-left: 20%;

  margin-right: 10%;
}
.no-container-image {
  justify-self: end;
}
.no-container img {
  width: 100%;
}

section.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: none;
}

.portfolio {
  margin: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 100%;
}
.portfolio-item {
  width: 100%;
  overflow: hidden;
}
.portfolio-item img {
  width: 100%;
}
.show-more {
  height: 100%;
  transition: all 500ms ease-in-out;
}
.portfolio .no-show {
  /* display: none; */
  height: 0;
}

@media only screen and (min-width: 700px) {
  section.participation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: var(--primary-width);
  }
  .participation-image {
    justify-self: end;
  }
  .participation button {
    margin-top: 3rem;
  }
}
.tracks h2 {
  width: 100%;
  text-align: center;
}
.curriculum {
  width: 65%;
  display: grid;
  grid-template-columns: 6fr 4fr;
}
.curriculum ul {
  height: 100%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.curriculum ul li a {
  color: #00aeff;
}
.mentors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5% 5% 5% 10%;
  gap: 10%;
  background-color: rgba(196, 196, 196, 0.1);
}
.mentors-text h2 {
  font-size: 2.5rem;
}
.mentors-text p {
  font-size: 1.6rem;
}
.see-all-mentors {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.see-all-mentors h4 {
  font-weight: normal;
  color: #32325d;
  font-size: 2rem;
  padding: 1rem;
}

.profile-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image {
  overflow: hidden;
  border-radius: 100%;
}
.see-all {
  margin-top: 5rem;
}
.popular {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.popular li {
  width: 100%;
  margin-top: 3.5rem;
  border-bottom: 1px solid rgba(225, 225, 225, 0.45);
  color: #00aeff;
}
.sponsors {
  width: var(--secondary-width);
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}
.sponsors h3 {
  /* width: 100%;
  text-align: center; */
  font-weight: 700;
  font-size: 2.5rem;
  color: #3c6b9c;
  margin-bottom: 10rem;
}
.top-sponsors {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}
.bottom-sponsors {
  align-self: center;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
.top-sponsors .sponsor-image:nth-child(1) {
  justify-self: start;
}
.top-sponsors .sponsor-image:nth-child(4) {
  justify-self: end;
}
.sponsor-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsors button {
  margin-top: 7rem;
}
#footer {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
  padding-top: 7rem;
}
#footer .container {
  max-width: var(--secondary-width);
}
#footer-logo {
  width: 30rem;
  overflow: hidden;
  margin-bottom: 5rem;
}
#footer h2 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #00aeff;
  margin-bottom: 2rem;
}
ul#link-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;

  color: #00aeff;
}
.footer-section a {
  font-style: normal;
  font-size: 1.5rem;
  color: #737373;
}
#socials {
  display: flex;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(50, 50, 93, 0.11),
    0px 1px 3px rgba(0, 0, 0, 0.08);
}
.copyright {
  margin-top: 4rem;
  width: 100%;
  text-align: center;
  color: #8898aa;
}

.countdown-section {
  /* background-color: red+; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown-section h4 {
  color: #8898aa;
  font-size: 20px;
}
.countdown-section h3 {
  font-weight: bold;
  font-size: 20px;
  color: #00aeff;
}
.progress-ring__circle {
  /* transition: stroke-dashoffset 0.35s; */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.countdown-section span {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 2rem;
  color: #676767;
  margin-top: 1rem;
}
.svg-value {
  font-family: "Oswald";
}

/*  */
/*  */
#hamburger a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle {
  display: block;
  position: relative;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  /* top: -7px;
  left: -5px; */

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  padding: 0;
  right: 0;
  /* right: 0; */
  top: -2000%;
  /* top: 0; */
}
#menu {
  line-height: 22px;
  color: #474747;
  padding-top: 2rem;
  margin-top: 2rem;
  transition: all 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menuToggle input:checked ~ ul {
  top: 0;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#menu li {
  margin-bottom: 1rem;
  width: 10rem;
  font-size: 1.8rem;
  justify-content: flex-end;
}
#menu .join-us {
  padding: 1rem;
}

@media only screen and (min-width: 1440px) {
  :root {
    --primary-width: 70%;
    --secondary-width: 70%;
  }
  .mentors {
    padding: 5% 15% 5% 15%;
  }
  .mentors-text p {
    width: 70%;
  }
  .no-container-text {
    margin-left: 30%;

    margin-right: 10%;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --primary-width: 90%;
    --secondary-width: 90%;
  }
  .curriculum {
    width: 80%;
  }
  #footer .container {
    max-width: 90%;
  }
  .countdown-section {
    display: none;
    width: 100%;
  }
  .no-container-image {
    display: none;
  }
  .no-container {
    display: flex;
  }
  .no-container-text {
    width: 100%;
  }
  .participation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .participation-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .participation-image {
    display: none;
  }
  .curriculum {
    width: 100%;
  }
  .profile-cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
  .top-sponsors {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .top-sponsors .sponsor-image:nth-child(1) {
    justify-self: center;
  }
  .top-sponsors .sponsor-image:nth-child(4) {
    justify-self: center;
  }
  .bottom-sponsors {
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 0;
  }
}
